<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.exam.mapper.ExamLabelMapper">
    
    <resultMap type="ExamLabel" id="ExamLabelResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyUser"    column="modify_user"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <sql id="selectExamLabelVo">
        select id, name, create_user, create_time, modify_user, modify_time from exam_label
    </sql>


    <select id="selectLabelByQuestionIdList" parameterType="java.lang.Long" resultType="com.ruoyi.exam.domain.ExamLabel">
       SELECT a.id,b.`name` FROM exam_label_questions
as a  LEFT JOIN exam_label as b
on a.label_id = b.id
where
a.examination_questions_id =  #{questionId}
    </select>


    <select id="selectExamLabelList" parameterType="ExamLabel" resultMap="ExamLabelResult">
        <include refid="selectExamLabelVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="modifyUser != null  and modifyUser != ''"> and modify_user = #{modifyUser}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
        </where>
    </select>
    
    <select id="selectExamLabelById" parameterType="Long" resultMap="ExamLabelResult">
        <include refid="selectExamLabelVo"/>
        where id = #{id}
    </select>

    <select id="selectExamLabelQuestionCount" parameterType="com.ruoyi.exam.vo.ExamBankQuestionCountVo" resultType="com.ruoyi.exam.vo.ExamBankQuestionCountVo">
          select label.id, label.name,
 (SELECT count(*) FROM
exam_label_questions as b
join exam_questions as q
on q.id = b.label_id
where b.label_id = label.id
and  q.type = "select") as selectCount,
(SELECT count(*) FROM
exam_label_questions as b
join exam_questions as q
on q.id = b.label_id
where b.label_id = label.id
and  q.type = "selects" ) as selectsCount,
 (SELECT count(*) FROM
exam_label_questions as b
join exam_questions as q
on q.id = b.label_id
where b.label_id = label.id
 and  q.type = "verdict") as verdictCount,
 (SELECT count(*) FROM
exam_label_questions as b
join exam_questions as q
on q.id = b.label_id
where b.label_id = label.id
and  q.type = "answer" ) as answerCount
from
exam_label as label
    </select>

    <insert id="insertExamLabel" parameterType="ExamLabel" useGeneratedKeys="true" keyProperty="id">
        insert into exam_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyUser != null">modify_user,</if>
            <if test="modifyTime != null">modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyUser != null">#{modifyUser},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
         </trim>
    </insert>


    <insert id="insertBatchExamLabel" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="id" >
        insert into exam_label (name,create_user,create_time)
        values
        <foreach collection="list" separator="," item="item" index="i">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.name},
                #{item.createUser},
                #{item.createTime}
            </trim>
        </foreach>
    </insert>

    <update id="updateExamLabel" parameterType="ExamLabel">
        update exam_label
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyUser != null">modify_user = #{modifyUser},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteExamLabelById" parameterType="Long">
        delete from exam_label where id = #{id}
    </delete>


    <delete id="deleteExamLabelByIds" parameterType="String">
        delete from exam_label where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>